body {
  background-color: #F5F5F5;
}
.Navbar {
  padding: 0 4.8rem;
  height: 5rem;
  background-color: #750B0B;
  color:white;
  display: flex;
  column-gap:10px;
  justify-content:space-between;
  align-items: center;
  position: relative;
}

  .head{
    color:white;
    font-size:30px;
  }
  .logo{
    width:25px;
    background-color:white;
    height:25px;
  }
  li {
    float:left;
    margin-left:20px;
    font-size:20px;
  }
  ul {
    list-style-type: none;
  }

  .ProductMain {
    display: flex;
    width: 100%;
    /* justify-content: space-between; */
    margin-top: 1%;
    column-gap: 10px;
  }

  .SideBar {
    width: 20%;
    height: 100%;
    background-color:white
  }

.filter-search{
  margin-top:10px;
  margin-left:10px;
}
.search-box{
  width:350px;
  height: 30px;
}
.search-btn{
  width:100px;
  padding:11px;
  background-color:#00A69C;
  border:none;
  color:white;
}
.Showcase {
  display: flex;
  flex-wrap:wrap;
  }
  .ProductSide{
    width: 78%;
  }
 .content{
  margin-top: 150px;
 }